@* @{
    Layout = "_Layout";
}
<html>

<body>
    <h1>THIS IS THE HOME PAGE!</h1>
    <h3><a href='/ParentObject'>View Stuff</a></h3>
    <h3><a href='/ParentObject/new'>Add a new stuff</a></h3>
</body>

</html> *@